body{
	background-color:#A8A8A8;
}

#outsidebox{
	margin: 0px auto;
        height:100%;
        padding-bottom:100px;
        max-width:800px;
        min-width:700px;
}

#portfolio{
        position:relative;
        height:125px;
}

#portfolio h1{
        color:#FFCC33;
        font-family:'Gochi Hand',cursive;
        font-size:100px;
}

a{      
        color:#FFCC33;
        text-decoration:none;
}

table{
	width:810px;
}
h5{
	color:#FFCC33;
	font-family:'Gochi Hand',cursive;
	font-size:40px;
	padding:0px;
	margin:0px;
	margin-top:20px;
}
ul{
        width:100%;
        padding:0;
        margin:0;
        list-style-type:none;
}

#menu div{
        width: 800px;
}

#menu a{
        display:inline-block;
        padding:10px;
        background-color:black;
        color:white;
        text-decoration:none;
}

#menu li{

        display:inline;
        font-family:'Gochi Hand',cursive;
        font-size: 160%;
}

#menu ul{

        background-color:black;
        list-style:none;
        width:auto;
        text-align:center;
}

.thumbnail{
	
	float:left;	
	margin:13px;
}

.video{
	
	float:left;
	margin:5px;
}
	
