<!doctype html>
<html>
  <head>
    <title>Getting Started Extension's Popup</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Alegreya+Sans" />
    <link rel="stylesheet" type="text/css" href="lib/iCheck/skins/flat/blue.css" />
    <link rel="stylesheet" type="text/css" href="lib/datatables/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="lib/sidr/dist/stylesheets/jquery.sidr.dark.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script type="text/javascript" src="js/jquery-2.0.2.min.js"></script>
    <script src="js/jquery.event.drag-2.2.js"></script>
    <script src="js/jquery.event.drag.live-2.2.js"></script>
    <script src="js/jquery.event.drop-2.2.js"></script>
    <script src="js/jquery.event.drop.live-2.2.js"></script>
    <script type="text/javascript" src="lib/iCheck/icheck.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>
    <script type="text/javascript" src="lib/datatables/media/js/jquery.dataTables.js"></script> 
    <script type="text/javascript" src="lib/sidr/dist/jquery.sidr.js"></script>
    <script type="text/javascript" src="js/md5.js"></script>
    <script type="text/javascript" src="js/fbScript.js"></script>
  </head>
  <body>
    <iframe id='frame'></iframe>
    <div id="login-box" class="login-popup">
    <a href="#" class="close"><img src="images/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
      <form method="post" class="signin" action="#">
            <fieldset class="textbox">
            <label class="username">
            <span>Email</span>
            <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
            </label>
            <label class="password">
            <span>Password</span>
            <input id="password" name="password" value="" type="password" placeholder="Password">
            </label>
            <span class="message" style="color: red; height: 10px"></span>
            <button class="signin submit button" type="button">Sign in</button>
            <button class="signup submit button" type="button">Sign up</button>
            </fieldset>
      </form>
    </div>
      <div id="container">
      <div id="leftContainer">
          <input type="text" id="searchItem">
          <button id="searchValues">Search</button>
          <br>
          <div id="radioContainer">
              <ul id="radioButtons" class="list"></ul>
          </div>
          <button id="createTable">New Table</button>
          <button id="deleteTable">Delete Table</button>
          <input type="text" id="tableName" disabled="disabled">
          <button id="submitName" disabled="disabled">Submit</button>
      </div>
      <div class="verticalLine"></div>
      <div id="rightContainer">
          <input id="groupCheck" type="checkbox" checked>Group mode
          <input id="allResultsCheck" type="checkbox" checked>Limit results
          <button id="csv">Generate CSV</button>
          <button id="share">Share</button>
          <input type="text" id="shareList" disabled="disabled">
          <button id="shareSubmit" disabled="disabled">Submit</button>
          <table id="list" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
              <thead>
                  <th>Selected</th>
                  <th>URL</th>
              </thead>
          </table>
          <br>
          <button id="deleteEntry">Delete Entry</button>
          <button id="addEntry">Add Entry</button>
          <input type="text" id="entry" disabled="disabled">
          <button id="submitEntry" disabled="disabled">Submit</button>
          <span id="login">
            <span id="loginName"></span>
            <div class="btn-sign"><a href="#login-box" class="login-window">Login</a></div>
            <button id="logout">Log Out</button>
          </span>
      </div>
      </div>
  </body>
</html>

