<!DOCTYPE html>
<html>
   <head>
      <title> About Me </title>
      <link type="text/css" href="static/stylesheets/about.css" rel="stylesheet"/>
      <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
   </head>
   <body>
      <center>
         <div id="outsidebox">
            <div id="about">
               <h1><center><a href="/">ABOUT ME.</a></center></h1>
            </div>
            <div id="menu">
               <ul>
                  <li><a href="/">HOME</a></li>
                  <li><a href="/about">ABOUT ME</a></li>
                  <li><a href="static/resume.pdf">RESUME</a></li>
                  <li><a href="/portfolio">PORTFOLIO</a></li>
               </ul>
            </div>
            <div id="paragraph">
               <p> My name is Joyce. I'm a sophomore at Rutgers University, majoring in Computer Science and pursuing a fiction filmmaking certificate. I like to take ordinary things and add a creative spin to them, which explains why I love experimenting with art and film. I really do enjoy programming as well, so I figured that venturing into website design would allow me to apply both skills at once.<br><br>
During my free time, I love to eat, run, and play lacrosse. And my favorite movie is "Elf."
               </p>
            </div>
            <img id="profile" src="static/images/me.jpg" alt="me" width="380" height="380">
         </div>
      </center>
   </body>
</html>
