<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Joyce Wang - Student Software Developer</title>
        <link rel="stylesheet" type="text/css" href="static/lib/foundation/css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="static/lib/foundation/css/foundation.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/website.css"/>
        <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>
        <script src="static/lib/foundation/js/vendor/custom.modernizr.js"></script>
    </head>
    <body>
        <script src="static/lib/foundation/js/jquery.js"></script>
        <script src="static/lib/foundation/js/foundation.min.js"></script>
        <script type="text/javascript" src="static/js/index.js"></script>
        <div id="container">
            <div class="menu">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/projects">PROJECTS</a></li>
                        <li><a href="/artwork">ARTWORK</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
            </div>
            <div class="aboutContainer">
            <ul class="example-orbit" data-orbit>
                <li>
                    <img src="/static/images/me.jpg" alt="me"/>
                    <div class="orbit-caption">
                        YAY.
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </body>
</html>
