<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Joyce Wang - Student Software Developer</title>
        <link rel="stylesheet" type="text/css" href="static/lib/foundation/css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="static/lib/foundation/css/foundation.css"/>
        <link rel="stylesheet" type="text/css" href="static/lib/fb/jquery.fancybox.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/website.css"/>
        <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>
        <script src="static/lib/foundation/js/vendor/custom.modernizr.js"></script>
    </head>
    <body>
        <script src="static/lib/foundation/js/jquery.js"></script>
        <script src="static/lib/foundation/js/foundation.min.js"></script>
        <script src="static/lib/fb/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="static/js/index.js"></script>
        <script>
            $(document).ready(function(){
                $(".fancybox").fancybox();
            });
        </script>
        <div id="container">
            <div class="menu">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/projects">PROJECTS</a></li>
                        <li><a href="/artwork">ARTWORK</a></li>
                        <li><a href="/cs170">CS170</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
            </div>
            <div class="artContainer">
                <h1>Artwork.</h1>
                <h3 style="color:white">Some Stuff.</h3>
                <a class="fancybox" rel="group" href="static/images/Clarinets.jpg"><img class="th" src="static/images/ClarinetsT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Tools.jpg"><img class="th" src="static/images/ToolsT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Words2.jpg"><img class="th" src="static/images/Words2T.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Minions.jpg"><img class="th" src="static/images/MinionsT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Words.jpg"><img class="th" src="static/images/WordsT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Black.jpg"><img class="th" src="static/images/BlackT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/House.jpg"><img class="th" src="static/images/HouseT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Little.jpg"><img class="th" src="static/images/LittleT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Troll.jpg"><img class="th" src="static/images/TrollT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Batman.jpg"><img class="th" src="static/images/BatmanT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Bridge.jpg"><img class="th" src="static/images/BridgeT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Mailbox.jpg"><img class="th" src="static/images/MailboxT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/selfportrait.jpg"><img class="th" src="static/images/selfportraitT.jpg" alt=""/></a>
                </div>
            </div>
            <div class="artContainer">
                <h3 style="color:white">Does it Belong?</h3>
                <a class="fancybox" rel="group" href="static/images/Eggs.jpg"><img class="th" src="static/images/EggsT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/GummyBears.jpg"><img class="th" src="static/images/GummyBearsT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Fridge.jpg"><img class="th" src="static/images/FridgeT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Giraffe.jpg"><img class="th" src="static/images/GiraffeT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Dog.jpg"><img class="th" src="static/images/DogT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Wheelchair.jpg"><img class="th" src="static/images/WheelchairT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Kangaroo.jpg"><img class="th" src="static/images/KangarooT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Astronaut.jpg"><img class="th" src="static/images/AstronautT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Bathroom.jpg"><img class="th" src="static/images/BathroomT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Tree.jpg"><img class="th" src="static/images/TreeT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Aliens.jpg"><img class="th" src="static/images/AliensT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/Kelly.jpg"><img class="th" src="static/images/KellyT.jpg" alt=""/></a>
            </div>
            <div class="artContainer">
                <h3 style="color:white">Digital Stuff.</h3>
                <a class="fancybox" rel="group" href="static/images/minion3d.jpg"><img class="th" src="static/images/minion3dT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/foodflyer.jpg"><img class="th" src="static/images/foodflyerT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/sheep.jpg"><img class="th" src="static/images/sheepT.jpg" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/3D1.png"><img class="th" src="static/images/3D1T.png" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/3D2.png"><img class="th" src="static/images/3D2T.png" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/3D3.png"><img class="th" src="static/images/3D3T.png" alt=""/></a>
                <a class="fancybox" rel="group" href="static/images/3D4.png"><img class="th" src="static/images/3D4T.png" alt=""/></a>
            </div>
        </div>
    </body>
</html>
