<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Joyce Wang - Student Software Developer</title>
        <link rel="stylesheet" type="text/css" href="static/lib/foundation/css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="static/lib/foundation/css/foundation.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/website.css"/>
        <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>
        <script src="static/lib/foundation/js/vendor/custom.modernizr.js"></script>
    </head>
    <body>
        <script src="static/lib/foundation/js/jquery.js"></script>
        <script src="static/lib/foundation/js/foundation.min.js"></script>
        <script type="text/javascript" src="static/js/index.js"></script>
        <div id="container">
            <div class="menu">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/projects">PROJECTS</a></li>
                        <li><a href="/artwork">ARTWORK</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
            </div>
            <div class="contactContainer">
                <div class="row">
                    <div class="large-4 columns">
                        <h1>Contact.</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <hr>
                        <img src="/static/images/meComputer.jpg">
                    </div>
                    <div class="contactInfo large-8 columns">
                        <h2 style="color:#edfbff">Joyce Wang</h2>
                        <h3 style="color:#edfbff">Student Software Developer</h4>
                        <h3 style="color:#edfbff">Email: <a href="mailto:jvw29@cs.rutgers.edu">jvw29@cs.rutgers.edu</a></h4> 
                        <h3 style="color:#edfbff">View my <a href="/static/resume.pdf">resume</a>.</h4> 
                        <br>
                        <div class="panel callout radius">
                            <h6>Tweet<a href="http://www.twitter.com/j21wang"> @j21wang</a>. Add me on <a href="http://www.linkedin.com/in/j21wang">LinkedIn</a>. Read my nonsense on <a href="http://www.medium.com/@j21wang">Medium</a>. And find some cool stuff on <a href="http://www.github.com/j21wang">GitHub</a>.</h6>
                </div>
            </div>
        </div>
    </body>
</html>
