<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Joyce Wang - Student Software Developer</title>
        <link rel="stylesheet" type="text/css" href="lib/foundation/css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="lib/foundation/css/foundation.css"/>
        <link rel="stylesheet" type="text/css" href="css/website.css"/>
        <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>
        <script src="lib/foundation/js/vendor/custom.modernizr.js"></script>
    </head>
    <body>
        <script src="lib/foundation/js/jquery.js"></script>
        <script src="lib/foundation/js/foundation.min.js"></script>
        <script src="lib/hideshare.min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <div id="container">
            <div class="menu">
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="about.html">ABOUT</a></li>
                        <li><a href="projects.html">PROJECTS</a></li>
                        <li><a href="artwork.html">ARTWORK</a></li>
                        <li><a href="experience.html">EXPERIENCE</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
            </div>
            <img src="images/me.jpg" alt="spitting water" width=100%/>
            <div class="panel">
                <p>My name is Joyce Wang. I'm a student software developer. I break things, fix them, and make ugly things look pretty.</p>
            </div>
            

        </div>
    </body>
</html>
