<!DOCTYPE html>
<html>
<head>
<title> Joyce's Homepage </title>
	<link type="text/css" href="static/stylesheets/homepage.css" rel="stylesheet"/>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
</head>

<body>

<center>
<div id="outsidebox">

<div id="helloworld">
<h1><center><a href="./index.html"> HELLO WORLD.</a></center></h1>
</div>

<div id="menu">
<ul>
<li><a href="/templates/index.html">HOME</a></li>
<li><a href="/templates/about.html">ABOUT ME</a></li>
<li><a href="/templates/resume.pdf">RESUME</a></li>
<li><a href="/templates/portfolio.html">PORTFOLIO</a></li>
</ul>
</div>

<table id="me">
<tr>
<td>
<img id="water" src="static/images/SpittingWater.jpg" alt="Water" width="550" height="392">
</td>
<td>
<div id="paragraph">
<p>
I make ugly things look pretty.
</p>
</div>
</td>
</tr>
</div>
</table>
</div>
</center>
</body>
</html>
