<!DOCTYPE html>
<html>
<head>
<title> Portfolio </title>
	<link type="text/css" href="portfolio.css" rel="stylesheet"/>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="outsidebox">

<div id="portfolio">
<h1><center><a href="./index.html">PORTFOLIO.</a></center></h1>
</div>

<div id="menu">
<ul>
<li><a href="./index.html">HOME</a></li>
<li><a href="./about.html">ABOUT ME</a></li>
<li><a href="./resume.pdf">RESUME</a></li>
<li><a href="./portfolio.html">PORTFOLIO</a></li>
</ul>
</div>

<div>
<h5> Some Stuff. </h5>

<div class="thumbnail">
<a href="./images/Clarinets.jpg"><img src="./images/ClarinetsT.jpg" alt="Clarinets" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Tools.jpg"><img src="./images/ToolsT.jpg" alt="Tools" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Words2.jpg"><img src="./images/Words2T.jpg" alt="Words2" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Minions.jpg"><img src="./images/MinionsT.jpg" alt="Minions" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Words.jpg"><img src="./images/WordsT.jpg" alt="Words" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Black.jpg"><img src="./images/BlackT.jpg" alt="Black" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/House.jpg"><img src="./images/HouseT.jpg" alt="House" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Little.jpg"><img src="./images/LittleT.jpg" alt="Little" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Troll.jpg"><img src="./images/TrollT.jpg" alt="Troll" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Batman.jpg"><img src="./images/BatmanT.jpg" alt="Batman" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Bridge.jpg"><img src="./images/BridgeT.jpg" alt="Bridge" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Mailbox.jpg"><img src="./images/MailboxT.jpg" alt="Mailbox" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Joyce.jpg"><img src="./images/JoyceT.jpg" alt="Joyce" width="240px" height="140px"/></a>
</div>

<div style="clear:both">

</div>
</div>

<div>
<h5> DOES IT BELONG? </h5>

<div class="thumbnail">
<a href="./images/Eggs.jpg"><img src="./images/EggsT.jpg" alt="Eggs" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/GummyBears.jpg"><img src="./images/GummyBearsT.jpg" alt="Gummy Bears" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Fridge.jpg"><img src="./images/FridgeT.jpeg" alt="Fridge" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Giraffe.jpg"><img src="./images/GiraffeT.jpg" alt="Giraffe" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Dog.jpg"><img src="./images/DogT.jpg" alt="Dog" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Wheelchair.jpg"><img src="./images/WheelchairT.jpg" alt="Wheelchair" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Kangaroo.jpg"><img src="./images/KangarooT.jpg" alt="Kangaroo" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Astronaut.jpg"><img src="./images/AstronautT.jpg" alt="Astronaut" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Bathroom.jpg"><img src="./images/BathroomT.jpg" alt="Bathroom" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Tree.jpg"><img src="./images/TreeT.jpg" alt="Tree" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Aliens.jpg"><img src="./images/AliensT.jpg" alt="Aliens" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="./images/Kelly.jpg"><img src="./images/KellyT.jpg" alt="Skull" width="240px" height="140px"/></a>
</div>

<div style="clear:both"> </div>
</div>

<div>
<h5> VIDEOS. </h5>

<div class="video">
<iframe width="390" height="290" src="http://www.youtube.com/embed/Y3Lt3Tsq0JU" frameborder="0" allowfullscreen></iframe>
</div>

<div class="video">
<iframe width="390" height="290" src="http://www.youtube.com/embed/ogpxgng9iRc" frameborder="0" allowfullscreen></iframe>
</div>

<div style="clear:both"></div>
</div>

</div>
</body>
</html>
