<!DOCTYPE html>
<html>
<head>
<title> Portfolio </title>
	<link type="text/css" href="static/stylesheets/portfolio.css" rel="stylesheet"/>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="outsidebox">

<div id="portfolio">
<h1><center><a href="/">PORTFOLIO.</a></center></h1>
</div>

<div id="menu">
<ul>
<li><a href="/">HOME</a></li>
<li><a href="/about">ABOUT ME</a></li>
<li><a href="static/resume.pdf">RESUME</a></li>
<li><a href="/portfolio">PORTFOLIO</a></li>
</ul>
</div>

<div>
<h5> Some Stuff. </h5>

<div class="thumbnail">
<a href="static/images/Clarinets.jpg"><img src="static/images/ClarinetsT.jpg" alt="Clarinets" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Tools.jpg"><img src="static/images/ToolsT.jpg" alt="Tools" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Words2.jpg"><img src="static/images/Words2T.jpg" alt="Words2" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Minions.jpg"><img src="static/images/MinionsT.jpg" alt="Minions" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Words.jpg"><img src="static/images/WordsT.jpg" alt="Words" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Black.jpg"><img src="static/images/BlackT.jpg" alt="Black" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/House.jpg"><img src="static/images/HouseT.jpg" alt="House" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Little.jpg"><img src="static/images/LittleT.jpg" alt="Little" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Troll.jpg"><img src="static/images/TrollT.jpg" alt="Troll" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Batman.jpg"><img src="static/images/BatmanT.jpg" alt="Batman" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Bridge.jpg"><img src="static/images/BridgeT.jpg" alt="Bridge" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Mailbox.jpg"><img src="static/images/MailboxT.jpg" alt="Mailbox" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Joyce.jpg"><img src="static/images/JoyceT.jpg" alt="Joyce" width="240px" height="140px"/></a>
</div>

<div style="clear:both">

</div>
</div>

<div>
<h5> DOES IT BELONG? </h5>

<div class="thumbnail">
<a href="static/images/Eggs.jpg"><img src="static/images/EggsT.jpg" alt="Eggs" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/GummyBears.jpg"><img src="static/images/GummyBearsT.jpg" alt="Gummy Bears" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Fridge.jpg"><img src="static/images/FridgeT.jpeg" alt="Fridge" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Giraffe.jpg"><img src="static/images/GiraffeT.jpg" alt="Giraffe" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Dog.jpg"><img src="static/images/DogT.jpg" alt="Dog" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Wheelchair.jpg"><img src="static/images/WheelchairT.jpg" alt="Wheelchair" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Kangaroo.jpg"><img src="static/images/KangarooT.jpg" alt="Kangaroo" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Astronaut.jpg"><img src="static/images/AstronautT.jpg" alt="Astronaut" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Bathroom.jpg"><img src="static/images/BathroomT.jpg" alt="Bathroom" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Tree.jpg"><img src="static/images/TreeT.jpg" alt="Tree" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Aliens.jpg"><img src="static/images/AliensT.jpg" alt="Aliens" width="240px" height="140px"/></a>
</div>

<div class="thumbnail">
<a href="static/images/Kelly.jpg"><img src="static/images/KellyT.jpg" alt="Skull" width="240px" height="140px"/></a>
</div>

<div style="clear:both"> </div>
</div>

<div>
<h5> VIDEOS. </h5>

<div class="video">
<iframe width="390" height="290" src="http://www.youtube.com/embed/Y3Lt3Tsq0JU" frameborder="0" allowfullscreen></iframe>
</div>

<div class="video">
<iframe width="390" height="290" src="http://www.youtube.com/embed/ogpxgng9iRc" frameborder="0" allowfullscreen></iframe>
</div>

<div style="clear:both"></div>
</div>

</div>
</body>
</html>
