<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Joyce Wang - Student Software Developer</title>
        <link rel="stylesheet" type="text/css" href="static/lib/foundation/css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="static/lib/foundation/css/foundation.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/website.css"/>
        <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>
        <script src="static/lib/foundation/js/vendor/custom.modernizr.js"></script>
    </head>
    <body>
        <script src="static/lib/foundation/js/jquery.js"></script>
        <script src="static/lib/foundation/js/foundation.min.js"></script>
        <script type="text/javascript" src="static/js/index.js"></script>
        <div id="container">
            <div class="menu">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/projects">PROJECTS</a></li>
                        <li><a href="/artwork">ARTWORK</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
            </div>
            <div class="projects">
                <div class="newProject">
                    <h3 class="project projectTitle"><a href="http://www.xtreme-keyboarding.appspot.com/">Xtreme Keyboarding</a></h3>
                    <h3 class="project projectLocation"><a href="http://www.google.com/edu/programs/chrome-academy/">@ Google Chrome Academy</a></h3>
                    <h3 class="project projectDate">(June 2013)</h3>
                    <br>
                    <span class="label">HTML5</span>
                    <span class="label">CSS</span>
                    <span class="label">JavaScript</span>
                    <span class="label">JQuery</span>
                    <h5 class="project">Your fingers aren't fast enough! Play either single player mode or two-player mode to improve your typing accuracy and speed. (Two player mode still in progress)</h5>
                </div>
                <hr>
                <div class="newProject">
                    <h3 class="project projectTitle"><a href="https://bitbucket.org/GRardB/cs213-android-project">Your Guess is Wrong</a></h3>
                    <h3 class="project projectLocation">@ Rutgers CS213 - Software Methodology</h3>
                    <h3 class="project projectDate">(April-May 2013)</h3>
                    <br>
                    <span class="label">Android</span>
                    <span class="label">Java</span>
                    <h5 class="project">The original goal behind this project was to create a game similar to The Price is Right. Essentially, the idea is to guess the price of arbitrary products as closely as possible. In our game, we have a mode similar to this, but also others with additional twists. All products are retrieved from the Etsy API.</h5>
                </div> 
                <hr>
                <div class="newProject">
                    <h3 class="project projectTitle"><a href="https://bitbucket.org/GRardB/photoalbum54">Photo Album</a></h3>
                    <h3 class="project projectLocation">@ Rutgers CS213 - Software Methodology</h3>
                    <h3 class="project projectDate">(April 2013)</h3>
                    <br>
                    <span class="label">Java</span>
                    <br>
                    <h5 class="project">Organize your pictures with our nice photo album!</h5> 
                </div>
                <hr>
                <div class="newProject">
                    <h3 class="project projectTitle"><a href="https://github.com/j21wang/planGen">Let's PlanGen!</a></h3>
                    <h3 class="project projectLocation">@ HackRU</h3>
                    <h3 class="project projectDate">(March 2013)</h3>
                    <br>
                    <span class="label">Android</span>
                    <span class="label">Java</span>
                    <span class="secondary label">Mashery API</span>
                    <h5 class="project">Bored? Not sure what to do? Let this Android App generate events and plan your day for you! Uses the FourSquare API and the Mashery API.</h5>
                    <h5 class="project">First Hackathon at Rutgers University. Won best use of Mashery API.</h5> 
                </div>
                <hr>
                <div class="newProject">
                    <h3 class="project projectTitle"><a href="http://anyminute.heroku.com">aNYminute</a></h3>
                    <h3 class="project projectLocation">@ HackNY</h3>
                    <h3 class="project projectDate">(September 2013)</h3>
                    <br>
                    <span class="label">HTML</span>
                    <span class="label">CSS</span>
                    <span class="label">JavaScript</span>
                    <span class="label">JQuery</span>
                    <span class="label">Python</span>
                    <span class="secondary label">New York Times API</span>
                    <span class="secondary label">Readability API</span>
                    <span class="secondary label">Skeleton</span>
                    <span class="secondary label">Flask</span>
                    <h5 class="project">Do you only have a certain amount of time each day to read articles from the New York Times? Our web application, aNYminute allows users to input a topic of their choice and the amount of time that they have to read articles. aNYminute will provide readers with articles they're interested in that they will be able to finish within their inputted timeframe.</h5>
                </div>
                <hr>
                <div class="newProject">
                    <h3 class="project projectTitle"><a href="https://www.googledrive.com/host/0B9NKiHuY25RgckRGMVdvdHBhYVU/#!">waitTime</a></h3>
                    <h3 class="project projectLocation">@ PennApps</h3>
                    <h3 class="project projectDate">(September 2013)</h3>
                    <br>
                    <span class="label">HTML</span>
                    <span class="label">CSS</span>
                    <span class="label">JavaScript</span>
                    <span class="label">JQuery</span>
                    <span class="label">PHP</span>
                    <span class="secondary label">FourSquare API</span>
                    <span class="secondary label">Firebase</span>
                    <h5 class="project">Tired of waiting in line? waitTime can be used by both merchants and customers. A merchant can specify the current wait time for his business, and customers who have just waited in line can enter in how much time they just waited, which is averaged with other customers' inputted times.</h5>
                </div>
                <hr>
                <div class="newProject">
                    <h3 class="project projectTitle"><a href="http://infodesign.oirt.rutgers.edu/~kylejohn/hacknjill/#!">Treasure Hunt</a></h3>
                    <h3 class="project projectLocation">@ Hack'n Jill Build'n Play</h3>
                    <h3 class="project projectDate">(October 2013)</h3>
                    <br>
                    <span class="label">HTML5</span>
                    <span class="label">CSS</span>
                    <span class="label">JavaScript</span>
                    <span class="label">JQuery</span>
                    <span class="secondary label">Enchant.js</span>
                    <span class="secondary label">Mote.IO</span>
                    <h5 class="project">In Treasure Hunt, the two players work together using the mote.IO and the keyboard. The player using the computer keyboard has to get all the treasure, while the other player using mote.IO has to shoot the treasure guards and the one enemy, who chases after her.</h5>
                </div> 
                <hr>
                <div class="newProject">
                    <h3 class="project projectTitle"><a href="http://codeniko.net/foodforthought/web/getname.php#!">Food for Thought</a></h3>
                    <h3 class="project projectLocation">@ HackRU</h3>
                    <h3 class="project projectDate">(October 2013)</h3>
                    <br>
                    <span class="label">HTML5</span>
                    <span class="label">CSS</span>
                    <span class="label">JavaScript</span>
                    <span class="label">JQuery</span>
                    <span class="label">PHP</span>
                    <span class="secondary label">Rdio API</span>
                    <span class="secondary label">Tumblr API</span>
                    <span class="secondary label">SendGrid API</span>
                    <h5 class="project">Food for Thought will analyze the picture of the barcode that is uploaded, search for a song using the Rdio API similar to the name of the food and display a meaningful and related photo using the Tumblr API.</h5>
                </div>
            </div>
        </div>
    </body>
</html>
