<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Joyce Wang - Student Software Developer</title>
        <link rel="stylesheet" type="text/css" href="static/lib/fb/jquery.fancybox.css"/>
        <link rel="stylesheet" type="text/css" href="static/lib/foundation/css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="static/lib/foundation/css/foundation.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/website.css"/>
        <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <script src="static/lib/foundation/js/jquery.js"></script>
        <script src="static/lib/fb/jquery.fancybox.pack.js"></script>
        <script src="static/lib/foundation/js/foundation.min.js"></script>
        <script type="text/javascript" src="static/js/index.js"></script>
        <script>
          $(document).ready(function(){
            $(".fancybox").fancybox();
          });
        </script>
        <div id="container">
            <div class="menu">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/projects">PROJECTS</a></li>
                        <li><a href="/artwork">ARTWORK</a></li>
                        <li><a href="/cs170">CS170</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
            </div>
            <div class="projects">
                <h1>Projects.</h1>
                <div class="newProject">
                    <h4 class="project projectTitle"><a href="https://github.com/kloong87li/brownlogs">The Brown Log</a></h4>
                    <h4 class="project projectLocation"> - First Place @ LinkedIn Hack Day</h4>
                    <h4 class="project projectDate">(July 2014)</h4>
                    <br>
                    <a class="fancybox" rel="group" href="static/images/brownlog1.png"><img class="th" src="static/images/brownlog1.png" alt="" width="100px"/></a>
                    <a class="fancybox" rel="group" href="static/images/brownlog2.jpg"><img class="th" src="static/images/brownlog2.jpg" alt="" width="100px"/></a>
                    <a class="fancybox" rel="group" href="static/images/brownlog3.png"><img class="th" src="static/images/brownlog3.png" alt="" width="100px"/></a>
                    <a class="fancybox" rel="group" href="static/images/brownlog4.jpg"><img class="th" src="static/images/brownlog4.jpg" alt="" width="100px"/></a>
                    <br>
                    <span class="label">HTML5</span>
                    <span class="label">CSS</span>
                    <span class="label">JavaScript</span>
                    <span class="secondary label">MongoDB</span>
                    <span class="secondary label">Angular</span>
                    <span class="secondary label">Phone Gap</span>
                    <h5 class="project">An elegant way for people to express their thoughts and ideas while doing something not so elegant. The Brown Log is a mobile app that allows you to quickly and easily share the epiphanies that come to you while on the loo. Snap a photo of the QR code in your bathroom stall and be directed to a forum where you can post text and doodles; or, browse the thoughts that have occurred in nearby bathrooms as well.</h5>
                </div>
                <hr>
                <div class="newProject">
                    <h4 class="project projectTitle"><a href="http://codeniko.net/identitytheft/">Identity Theft</a></h4>
                    <h4 class="project projectLocation"> - First Place @ Google's 24HoursOfGood</h4>
                    <h4 class="project projectDate">(April 2014)</h4>
                    <br>
                    <span class="label">HTML5</span>
                    <span class="label">CSS</span>
                    <span class="label">JavaScript</span>
                    <h5 class="project">How important is Cyber Security? How important is locking your phone? In our game, you have full access to someone's phone. Your task is to go through the phone and try to steal someone's identity. Be an identity theif, and realize that if anyone had full access to your phone, they would potentially have access to all your information, so lock your phone!</h5>
                </div>
                <hr>
                <div class="newProject">
                    <h4 class="project projectTitle"><a href="http://codeniko.net/beerharmony">beerHarmony</a></h4>
                    <h4 class="project projectLocation">@ Rutgers CS336 - Principles of Info. and Data Management</h4>
                    <h4 class="project projectDate">(October-November 2013)</h4>
                    <br>
                    <span class="label">mySQL</span>
                    <span class="label">PHP</span>
                    <span class="label">bash</span>
                    <span class="label">HTML5</span>
                    <span class="label">CSS</span>
                    <span class="label">JavaScript</span>
                    <span class="label">JQuery</span>
                    <h5 class="project">From no friends to friends. Use our search engine to find the perfect drinking buddies for you! Then click on specific drinkers' profiles to view their personal information, which includes the beers they drink, their favorite drunk activities, and their hotness ratings!</h5>
                </div>
                <hr>
                <div class="newProject">
                    <h4 class="project projectTitle"><a href="http://www.xtreme-keyboarding.appspot.com/">Xtreme Keyboarding</a></h4>
                    <h4 class="project projectLocation"><a href="http://www.google.com/edu/programs/chrome-academy/">@ Google Chrome Academy</a></h4>
                    <h4 class="project projectDate">(June 2013)</h4>
                    <br>
                    <span class="label">HTML5</span>
                    <span class="label">CSS</span>
                    <span class="label">JavaScript</span>
                    <span class="label">JQuery</span>
                    <h5 class="project">Your fingers aren't fast enough! Play either single player mode or two-player mode to improve your typing accuracy and speed. (Two player mode still in progress)</h5>
                </div>
                <hr>
                <div class="newProject">
                    <h4 class="project projectTitle"><a href="https://bitbucket.org/GRardB/cs213-android-project">Your Guess is Wrong</a></h4>
                    <h4 class="project projectLocation">@ Rutgers CS213 - Software Methodology</h4>
                    <h4 class="project projectDate">(April-May 2013)</h4>
                    <br>
                    <span class="label">Android</span>
                    <span class="label">Java</span>
                    <h5 class="project">The original goal behind this project was to create a game similar to The Price is Right. Essentially, the idea is to guess the price of arbitrary products as closely as possible. In our game, we have a mode similar to this, but also others with additional twists. All products are retrieved from the Etsy API.</h5>
                </div> 
                <hr>
                <div class="newProject">
                    <h4 class="project projectTitle"><a href="https://bitbucket.org/GRardB/photoalbum54">Photo Album</a></h4>
                    <h4 class="project projectLocation">@ Rutgers CS213 - Software Methodology</h4>
                    <h4 class="project projectDate">(April 2013)</h4>
                    <br>
                    <span class="label">Java</span>
                    <br>
                    <h5 class="project">Organize your pictures with our nice photo album!</h5> 
                </div>
                <hr>
                <div class="newProject">
                    <h4 class="project projectTitle"><a href="https://github.com/j21wang/planGen">Let's PlanGen!</a></h4>
                    <h4 class="project projectLocation">@ HackRU</h4>
                    <h4 class="project projectDate">(March 2013)</h4>
                    <br>
                    <span class="label">Android</span>
                    <span class="label">Java</span>
                    <span class="secondary label">Mashery API</span>
                    <h5 class="project">Bored? Not sure what to do? Let this Android App generate events and plan your day for you! Uses the FourSquare API and the Mashery API.</h5>
                    <h5 class="project">First Hackathon at Rutgers University. Won best use of Mashery API.</h5> 
                </div>
                <hr>
                <div class="newProject">
                    <h4 class="project projectTitle"><a href="http://anyminute.heroku.com">aNYminute</a></h4>
                    <h4 class="project projectLocation">@ HackNY</h4>
                    <h4 class="project projectDate">(September 2013)</h4>
                    <br>
                    <span class="label">HTML</span>
                    <span class="label">CSS</span>
                    <span class="label">JavaScript</span>
                    <span class="label">JQuery</span>
                    <span class="label">Python</span>
                    <span class="secondary label">New York Times API</span>
                    <span class="secondary label">Readability API</span>
                    <span class="secondary label">Skeleton</span>
                    <span class="secondary label">Flask</span>
                    <h5 class="project">Do you only have a certain amount of time each day to read articles from the New York Times? Our web application, aNYminute allows users to input a topic of their choice and the amount of time that they have to read articles. aNYminute will provide readers with articles they're interested in that they will be able to finish within their inputted timeframe.</h5>
                </div>
                <hr>
                <div class="newProject">
                    <h4 class="project projectTitle"><a href="http://infodesign.oirt.rutgers.edu/~kylejohn/hacknjill/#!">Treasure Hunt</a></h4>
                    <h4 class="project projectLocation">@ Hack'n Jill Build'n Play</h4>
                    <h4 class="project projectDate">(October 2013)</h4>
                    <br>
                    <span class="label">HTML5</span>
                    <span class="label">CSS</span>
                    <span class="label">JavaScript</span>
                    <span class="label">JQuery</span>
                    <span class="secondary label">Enchant.js</span>
                    <span class="secondary label">Mote.IO</span>
                    <h5 class="project">In Treasure Hunt, the two players work together using the mote.IO and the keyboard. The player using the computer keyboard has to get all the treasure, while the other player using mote.IO has to shoot the treasure guards and the one enemy, who chases after her.</h5>
                </div> 
                <hr>
            </div>
        </div>
    </body>
</html>
